@page "/orders/create/{userId:long?}"
@layout MainLayout2
@rendermode InteractiveServer
@using MiniShopApp.Models.Orders
<PageTitle>Create Order</PageTitle>

<div>
    
    <table class="table table-hover table-responsive table-sm caption-top">
        <caption>Order details</caption>
        <thead>
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in orderDetails)
            {
                <tr>
                    <td>@item.ItemName</td>
                    <td class="text-end">@item.Quantity</td>
                    <td class="text-end"> @String.Format("${0:N2}", @item.Price)</td>
                    <td class="text-end"> @String.Format("${0:N2}", @item.TotalPrice)</td>
                </tr>
            }

        </tbody>
        <tfoot >
            <tr class="table-active ">
                <th>Total</th>
                <th class="text-end">@orderDetails.Sum(x => x.Quantity)</th>
                <th class="text-end"></th>
                <th class="text-end text-danger">@String.Format("${0:N2}", @orderDetails.Sum(x => x.TotalPrice))</th>
            </tr>
            <tr >
                <th></th>
                <th class="text-end"></th>
                <th class="text-end"></th>
                <th class="text-end text-danger table-active">@String.Format("R {0:N2}", @orderDetails.Sum(x => x.TotalPrice) * 4050)</th>
            </tr>
        </tfoot>

    </table>
    <hr  class="my-2"/>
    <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
        <MudNumericField T="string" @bind-Value="@Order.TableNumber"
                         Variant="Variant.Outlined"
            Label="Enter table number" Required="true" RequiredError="Table number is required!" />


        <div class="form-floating mt-3">
            <textarea class="form-control" @bind="@Order.Notes" placeholder="Leave a note here..." id="floatingTextarea2" style="height: 80px"></textarea>
            <label for="floatingTextarea2">Notes</label>
        </div>
        
        <div class="d-flex align-center justify-space-between mt-4">
            <button class="btn btn-secondary" type="button" @onclick="GetBack"><i class="bi bi-caret-left-fill"></i> Back</button>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" 
            StartIcon="@Icons.Material.Filled.AddCircleOutline" 
             
            Class="ml-auto"
            OnClick="HandleValidSubmit">Confirm Order</MudButton>
        </div>
    </MudForm>
    @if (IsLoading == true)
    {
        <div class="text-center">
            <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
        </div>
    }
</div>

@code{
    bool IsLoading = false;
    bool success;
    string[] errors = { };
    MudForm form;
    [Parameter] public long? userId { get; set; }
    async Task GetBack()
    {
        var result = await DialogService.ShowMessageBox(
                    "Confirmation",
                    $"This order will lost, are you sure to back?",
                    "Yes", "No");
        if (result == true)
        {
            NavigationManager.NavigateTo($"/order/ordering/{userId}",true);
        }
        
        
    }
}




