@page "/orders/create/{userId:long?}"
@layout MainLayout2
@rendermode InteractiveServer
@using MiniShopApp.Models.Orders
<PageTitle>Create Order</PageTitle>

<div>
    
    <table class="table table-hover table-responsive table-sm caption-top">
        <caption>Order details</caption>
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">T.Price</th>
                <th scope="col" style="width:35px">
                    <MudIcon Icon="@Icons.Material.Filled.RemoveShoppingCart" Size=Size.Small Title="Favorite" />
                    </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in orderDetails??default!)
            {
                <tr>
                    <td>@item.ItemName</td>
                    <td class="text-end d-flex justify-content-between align-items-center">
                        <MudIconButton Icon="@Icons.Material.Outlined.RemoveCircleOutline" 
                        OnClick="@(() => DescreasProduct(item.ItemId??default))" Color="Color.Info" Size="Size.Small" />
                        @item.Quantity
                        <MudIconButton Icon="@Icons.Material.Outlined.AddCircleOutline" 
                        OnClick="@(() => AddProduct(item.ItemId??default))" Color="Color.Primary" Size="Size.Small" />
                    </td>
                    <td class="text-end"> @String.Format("${0:N2}", @item.Price)</td>
                    <td class="text-end"> @String.Format("${0:N2}", @item.TotalPrice)</td>
                    <td class="align-items-center">
                        <MudIconButton Icon="@Icons.Material.Outlined.DeleteForever"
                                       OnClick="@(() => RemoveProduct(item.ItemId??default))" 
                                       Color="Color.Info" 
                                       Size="Size.Small" />
                    </td>
                </tr>
            }

        </tbody>
        <tfoot >
            <tr class="table-active ">
                <th>Total</th>
                <th class="text-end">@orderDetails?.Sum(x => x.Quantity)</th>
                <th class="text-end"></th>
                <th class="text-end text-danger">@String.Format("${0:N2}", @orderDetails?.Sum(x => x.TotalPrice))</th>
            </tr>
            <tr >
                <th></th>
                <th class="text-end"></th>
                <th class="text-end"></th>
                <th class="text-end text-danger table-active">@String.Format("R {0:N2}", @orderDetails?.Sum(x => x.TotalPrice) * 4050)</th>
            </tr>
        </tfoot>

    </table>
    <hr  class="my-2"/>
    <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
        <MudNumericField T="string" @bind-Value="@Order.TableNumber"
                         Variant="Variant.Outlined"
            Label="Enter table number " Required="true" RequiredError="Table number is required!" />


        <div class="form-floating mt-3">
            <textarea class="form-control" @bind="@Order.Notes" placeholder="Leave a note here..." id="floatingTextarea2" style="height: 80px"></textarea>
            <label for="floatingTextarea2">Notes</label>
        </div>
        
        <div class="d-flex align-center justify-space-between mt-4">
            <button class="btn btn-secondary" type="button" @onclick="GetBack"><i class="bi bi-caret-left-fill"></i> Back</button>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" 
            StartIcon="@Icons.Material.Filled.AddCircleOutline" 
             
            Class="ml-auto"
            OnClick="HandleValidSubmit">Confirm Order</MudButton>
        </div>
    </MudForm>
    @if (IsLoading == true)
    {
        <div class="text-center">
            <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
        </div>
    }
</div>

@code{
    bool IsLoading = false;
    bool success;
    string[] errors = { };
    MudForm form;
    [Parameter] public long? userId { get; set; }
    async Task GetBack()
    {
        var result = await DialogService.ShowMessageBox(
                    "Confirmation",
                    $"This order will lost, are you sure to back?",
                    "Yes", "No");
        if (result == true)
        {
            NavigationManager.NavigateTo($"/order/ordering/{userId}",true);
        }


    }
    protected async void RemoveProduct(int? proId)
    {
        if(proId is not null)
        {
            var result = await DialogService.ShowMessageBox(
                    "Remove",
                    $"Are you sure to remove this item?",
                    "Yes", "No");
            if (result == true)
            {
                var pro = orderDetails!.Where(x => x.ItemId == proId).FirstOrDefault();
                orderDetails!.Remove(pro!);
                StateHasChanged();
            }

        }
    }
    protected async void DescreasProduct(int productId)
    {
        try
        {
            if (orderDetails!.Any(od => od.ItemId == productId))
            {
                // If the product already exists in the order, descrease the quantity
                var existingOrderDetail = orderDetails!.First(od => od.ItemId == productId);
                if (existingOrderDetail.Quantity == 1)
                {
                    var result = await DialogService.ShowMessageBox(
                    "Remove",
                    $"Quantity 1 - Do you want to remove this item?",
                    "Yes", "No");
                    if (result == true)
                    {
                        orderDetails!.Remove(existingOrderDetail);
                    }
                    
                }
                else
                {
                    existingOrderDetail.Quantity -= 1;
                    existingOrderDetail.TotalPrice = existingOrderDetail.Price * existingOrderDetail.Quantity;
                }


                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error adding product: {ex.Message}");
        }
    }
    protected void AddProduct(int productId)
    {
        try
        {

            if (orderDetails!.Any(od => od.ItemId == productId))
            {
                // If the product already exists in the order, increase the quantity
                var existingOrderDetail = orderDetails!.First(od => od.ItemId == productId);

                existingOrderDetail.Quantity += 1;
                existingOrderDetail.TotalPrice = existingOrderDetail.Price * existingOrderDetail.Quantity;
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error adding product: {ex.Message}");
        }
    }
}




