@page "/products/create/{id:int}"
<PageTitle>Create Product</PageTitle>

<MudForm @ref="form">
    <MudGrid>
        <MudItem xs="12" md="8">
            <MudPaper Class="p-4">
                <MudTextField @bind-Value="@model.ProductCode" Label="Product Code" Variant="Variant.Outlined" Required="true" />
                <MudTextField @bind-Value="@model.ProductName" Label="Product Name" Variant="Variant.Outlined" Required="true" />
                <MudTextField @bind-Value="@model.Description" Label="Description" Variant="Variant.Outlined" />
                <MudNumericField @bind-Value="@model.Price" Label="Price" TValue="double?" Variant="Variant.Outlined" />
                <MudNumericField @bind-Value="@model.SubPrice" Label="Subprice" TValue="double?" Variant="Variant.Outlined" />
                <MudSelect T="int?" @bind-Value="@model.CategoryId" Label="Select Category" Variant="Variant.Outlined" Required="true">
                    @foreach (var cat in categories)
                    {
                        <MudSelectItem Value="@cat.CategoryId">@cat.CategoryName</MudSelectItem>
                    }
                </MudSelect>
                <MudSpacer />
                <MudFileUpload T="IBrowserFile" OnFilesChanged="@HandleFileSelected" ma accept=".jpg,.jpeg,.png" Class="mt-2">
                    <ActivatorContent>
                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.CloudUpload">
                            Upload Files
                        </MudButton>
                    </ActivatorContent>
                </MudFileUpload>
                <MudItem Class="d-flex justify-content-end mt-5">
                    <MudButton Variant="Variant.Filled"
                               Href="/products" Class="mt-2">
                        Back to list
                    </MudButton>
                    <MudSpacer />
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Primary"
                               OnClick="@SaveUpdate" Class="mt-2">
                        Submit
                    </MudButton>
                </MudItem>

            </MudPaper>
        </MudItem>
        <MudItem xs="12" md="4" Class="d-flex justify-center align-center">
            <MudCard Style="max-width:400px">
                @if (!string.IsNullOrEmpty(imagePreviewUrl))
                {
                    <MudCardMedia Image="@imagePreviewUrl" Height="200" />

                }else if(model.ImageUrl != null)
                {
                    <MudCardMedia Image="@model.ImageUrl" Height="200" />
                }
)
                <MudCardContent>
                    <MudText Typo="Typo.body1">
                        @if (isLoading)
                        {
                            <MudProgressCircular Indeterminate="true" Color="Color.Primary" />
                        }
                        else if (string.IsNullOrEmpty(imagePreviewUrl))
                        {
                            <span>No image selected</span>
                        }
                        else
                        {
                            <span>Image preview loaded</span>
                        }

                    </MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>

    </MudGrid>


</MudForm>


