@page "/categories"
@inject IDialogService Dialog
@layout MainLayout
<PageTitle>Categories</PageTitle>
<div class="mt-3">
    <MudTable Items="@model" Filter="FilterFunc1" Bordered="true">
        <ToolBarContent>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="CreateNew">Create</MudButton>
            <MudSpacer />
            <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>ID</MudTh>
            <MudTh>Category</MudTh>
            <MudTh>Descriptions</MudTh>
            <MudTh>actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Nr">@context.CategoryId</MudTd>
            <MudTd DataLabel="Sign">@context.CategoryName</MudTd>
            <MudTd DataLabel="Name">@context.Description</MudTd>
            <MudTd>
                <MudMenu Icon="@Icons.Material.Filled.MoreVert" Variant="Variant.Text" Size=Size.Small EndIcon="@Icons.Material.Filled.KeyboardArrowDown">
                    <MudMenuItem OnClick="@(() => Update(context.CategoryId))" Label="Edit" />
                    <MudMenuItem OnClick="@(() => remove(context.CategoryId))" Label="Delete" />
                </MudMenu>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
</div>



