@page "/table"

@inject IDialogService Dialog

<div class="mt-3">
    <div class="d-flex justify-content-between mb-2">
        <h5>Table list</h5>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Createtable">Create</MudButton>
    </div>
    <table class="table caption-top table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th width="10%">No</th>
                <th>Table number</th>
                <th>Descriptions</th>
                <th width="20%" class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var _data in model)
            {
                <tr>
                    <th>@_data.TableId</th>
                    <th>@_data.TableNumber</th>
                    <th>@_data.Description</th>
                    <th class="text-end">
                        <MudIconButton Icon="@Icons.Material.Filled.Edit" aria-label="edit" Color="Color.Info" Size="Size.Small">
                        </MudIconButton>
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="remove" Color="Color.Error" Size="Size.Small">
                        </MudIconButton>

                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>




