@page "/table"

@inject IDialogService Dialog

<div class="mt-3">
    <div class="d-flex justify-content-between mb-2">
        <h5>Table list</h5>
        
    </div>
    <MudTable Items="@model" Filter="FilterFunc1" Bordered="true">
        <ToolBarContent>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Createtable">Create</MudButton>
            <MudSpacer />
            <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>ID</MudTh>
            <MudTh>Table Number</MudTh>
            <MudTh>Descriptions</MudTh>
            <MudTh>actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Nr">@context.TableId</MudTd>
            <MudTd DataLabel="Sign">@context.TableNumber</MudTd>
            <MudTd DataLabel="Name">@context.Description</MudTd>
            <MudTd>
                <MudMenu Icon="@Icons.Material.Filled.MoreVert" Variant="Variant.Text" Size=Size.Small EndIcon="@Icons.Material.Filled.KeyboardArrowDown">
                    <MudMenuItem OnClick="@(() => Update(context.TableId))" Label="Edit" />
                    <MudMenuItem OnClick="@(() => remove(context.TableId))" Label="Delete" />
                </MudMenu>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
</div>




